*.bam
*.bai
*.c
*.so
*.phobos
*.tsv
*.csv
*.MutOnly
.idea
*.iml
*.xml
*.pyc
*.pyx
profiling_util.py
build/
.idea/
*.sam
!tests/sample_bams/header_only.sam
!tests/sample_bams/fake_sample_locus_sorted.tsv
compilation_env/
nuitka_build/
pyinstaller_build/
!pyinstaller_build/build.sh
nuitka_build_tst/
pyinstaller_venv/
small_venv/
bkup_working_pysam_venv/
msmutect_venv/
.tmp*